@use 'fonts.scss';
@use 'components/header/index.scss';

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  // scroll-behavior: smooth;
}

*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

a {
  display: inline-block;
  transition: all 0.4s;
  &:hover {
    opacity: 0.7;
  }
}

label,
svg {
  transition: all 0.4s;
}

table {
  border-spacing: 0px;
}

:focus,
:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

ul,
li {
  list-style: none;
}

input,
button,
textarea {
  font-family: inherit;
  outline: none;
  border: none;
  background: transparent;
}

html,
body {
  font-family: 'Inter', sans-serif;
  height: 100%;
  width: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  background: #f0f2f4;
  overflow-x: hidden !important;
}

//

::-webkit-scrollbar-thumb {
  border-radius: 10px;
  background-color: #96ce06;
  width: 5px;
}

::-webkit-scrollbar-track {
  background-color: #dfe3ee;
}

::-webkit-scrollbar {
  width: 5px;
  background-color: #fff;
  height: 5px;
  border-radius: 10px;
}

//

[class*='__container'] {
  max-width: 1804px;
  margin: 0 auto;
  padding: 0 10px;
  width: 100%;
}

[class*='__button'] {
  transition: all 0.4s;
  &:hover {
    opacity: 0.7;
  }
}

.btn {
  font-weight: 700;
  font-size: 16px;
  letter-spacing: -5%;
  background: #96ce06;
  color: #fff;
  cursor: pointer;
  transition: all 0.4s;
  padding: 5px;
  &:hover {
    opacity: 0.7;
  }
}

h2 {
  font-family: Druk Cyr;
  font-weight: 700;
  font-size: 48px;
  letter-spacing: 3%;
  text-transform: uppercase;
  color: #141724;
}

input {
  font-size: 16px;
  font-weight: 500;
  color: #141724;
  width: 100%;
  &::placeholder {
    color: #1417244d;
  }
}
.input {
  background: #fff;
  padding: 20px 24px;

  border-radius: 0px;

  width: 100%;
}

.input_phone_wrapper {
  display: flex;
  align-items: center;
  input {
    margin-left: 3px;
    font-weight: 400;
    font-size: 16px;
    line-height: 120%;
    letter-spacing: -5%;
    color: #141724;
  }
  img {
    margin-right: 8px;
  }
}

.form {
  padding: 40px;
  background: #96ce06;
  h2 {
    font-size: 36px;
  }
  &__inputs {
    margin-top: 32px;
    gap: 20px;
    display: grid;
  }
  button {
    background: #5638fa;
    width: 100%;
    padding: 19px;
    font-weight: 700;
    font-size: 16px;
    line-height: 140%;
    letter-spacing: -5%;
    margin-top: 30px;
  }
}
