.home_faq {
  margin-top: 100px;
  & > div {
    display: grid;
    grid-template-columns: 70.21vw auto;
    gap: 20px;

    @media (min-width: 1920px) {
      grid-template-columns: auto 440px;
    }
  }
  & > h2 {
    margin-bottom: 60px;
  }
  textarea {
    max-height: 213px;
  }
}
.home_faq {
  @media (min-width: 1920px) {
    & > div {
      grid-template-columns: auto 440px;
    }
  }
  @media (max-width: 1252px) {
    & > div {
      grid-template-columns: 62vw auto;
    }
  }
  @media (max-width: 950px) {
    margin-top: 40px;
    & > div {
      grid-template-columns: auto;
    }
    h2 {
      margin-bottom: 20px;
    }
  }
}
