.breadcrumb {
  &__lists {
    display: flex;
    gap: 4px;
    align-items: center;
    margin-bottom: 47px;
    * {
      display: contents;
    }
  }
  &__link {
    font-weight: 400;
    font-size: 14px;
    line-height: 150%;
    letter-spacing: -5%;

    color: #ffffff80;
    transition: all 0.3s linear;

    &.start {
      color: #ffffff80;
    }

    &.active,
    &:hover {
      color: #fff;
    }

    &.off {
      margin: 0;
      display: block;
    }
  }
}
