.faq {
  z-index: 1;
  position: relative;

  &__list {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  &__item {
    display: flex;
    flex-direction: column;
    gap: 18px;

    transition: 0.3s;
    .faq__trigger {
      transition: 0.3s;
      width: 60px;
      height: 60px;
      background: #f0f2f4;
      display: flex;
      align-items: center;
      justify-content: center;
      stroke: #141724;
      transition: all 0.4s;
    }

    &.active {
      .faq__trigger {
        transform: rotate(180deg);
        svg {
          stroke: #5638fa;
        }
      }
    }
  }

  &__info {
    background-color: #ffffff;
    padding: 19px 24px;
    padding-left: 40px;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.4s;

    &:hover {
      box-shadow: 0px 1px 4px #5638fa;
    }

    @media (max-width: 600px) {
      padding: 15px 10px;
    }

    @media (max-width: 397px) {
      padding: 10px 15px;
    }
  }

  &__answer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    h1 {
      text-align: left;
      color: #16161f;
      font-weight: 700;
      font-size: 28px;
      line-height: 120%;
      letter-spacing: -5%;
      color: #141724;
    }
  }

  &__result {
    margin-top: 15px;
    // display: none;
    width: calc(100% - 22px);
    color: #8e95a6;
    overflow: hidden;
    text-align: left;
    text-underline-position: from-font;
    text-decoration-skip-ink: none;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: -5%;
    max-width: 588px;
    @media (max-width: 600px) {
      font-size: 16px;
      margin-top: 7px;
    }
    @media (max-width: 374px) {
      font-size: 12px;
    }
  }
}
